
<%=link_to "Go back", cocktail_path%>
<h1><%= @cocktail.name %></h1>

<!-- <p>
  <%= link_to "Update this pet", edit_pet_path(@pet) %>
</p>

<p>
  It is a <%= @pet.kind %>, found at <%= @pet.found_at %>
</p>

<%= link_to "Back to list", pets_path %>
 -->
